
                
            body{

                box-sizing: border-box;
                background-color: bisque;
            }
            #first{
                background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
                
            }
            h1{
            animation:blinkingText 1.5s infinite;
            }
            @keyframes blinkingText{
            0%{		columns: #ff00ff;;	}
            49%{	color: transparent;	}
            50%{	color: transparent;	}
            99%{	color:transparent;	}
            100%{	color:#ff00ff;	}
            }
            @media only screen and (max-width:768px) {
                #first {
                        width:500px !important;
                       height: 830px !important;
                        
                            }
                    }
                
                    @media only screen and (max-width:560px) {
                        #first {
                                width:200px !important;
                                
                                    }
                                    #btn {
                                        margin-top : 10px !important;
                                 width: 100px !important;
                                 height: 30px !important;
                                 font-size : 10px !important;
                                    }
                                    #image{
                
                                        height:300px !important;
                                    }
                            }
                
                            @media only screen and (max-width:960px){
                
                                #first {
                                    width:500px !important;
                                    
                                        }
                                        #image{
                
                                            height:300px !important;
                                        }
                
                            } 